#guna
{
	background-color:#1A1A1F;
	height:20px;
	width:100%
}
body
{
	background-color:white;
}
#container
{
	background-color:white;
	width:70%;
	margin:0px auto;
}
#header
{
	height:80px;
	background-color:black;
	
}
#header img
{
	height:80px;
}
#header ul 
{
	float:right;
	margin-top:30px;
}
#header ul li
{
	display:inline;
	margin-right:35px;
	
}
#header ul li a 
{
color:#878687;
text-decoration:none;
font-size:18px;
}
#banner img
{
	
	width:100%;
	height:250px;
	padding-bottom:10px;
}
#content1
{
	width:32%;
	height:300px;
	float:left;
	margin-right:2%;
	background-image: url("../images/banner.jpg");
	
}
#content2
{
	width:32%;
	height:300px;
	background-color:#FFBF00;
	float:left;
}
#content3
{
	width:32%;
	height:300px;
	float:right;
	background-image: url("../images/welcome.png");
}
.heading
{
	color:white;
	margin-left:20px;
}
.para1
{
	color:white;
	margin-left:20px;
	margin-right:20px;
}
.more
{
	text-decoration:none;
	color:black;
	background-color:white;
	padding:8px;
	margin-left:20px;
}
#bottom1
{
	width:66%;
	height:350px;
	float:left;
	margin-top:15px;
}
#bottom2
{
	width:32%;
	
	height:350px;
	float:right;
	margin-top:15px;
}
#bottom1 h1
{
	margin-left:20px;
	color:black;
}
#bottom1 p
{
	margin-left:40px;
	margin-right:20px;
	color:black;
}


#bottom2 h1
{
	margin-left:20px;
	color:black;
}
#bottom2 img
{
	width:100%;
	height:215px;
	
}
#footer
{
	background-color:black;
	width:100%;
	height:20px;
	clear:both;
}
